* {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-family: "Trebuchet MS" Helvetica Tahoma;
	outline: none;
}

body {
	background: #F5F5F5;
}

#queries {
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
	width: 1080px;
	background: #FFF;
	clear: both;
	overflow: auto;
	border: 1px solid #999;
	-moz-box-shadow: 0 0 5px #CCC;
	-webkit-box-shadow: 0 0 5px #CCC;
}

#queries .nav {
	width: 1100px;
	height: 30px;
	line-height: 30px;
	display: block;
}

#query_main {
	width: 400px;
	border-right: 1px solid #999;
	float: left;
}

#query_main h1 {
	padding: 0 10px;
	width: 380px;
	height: 30px;
	line-height: 30px;
	background: #555;
	color: #FFF;
}

#query_main table {
	width: 400px;
}

#query_main table thead tr,
#query_main table tbody tr {
	width: 400px;
}

#query_main table tbody tr:hover {
	background: #FFFFCC;
}

#query_main table thead tr th,
#query_main table tbody tr td {
	padding: 0 5px;
	text-align: left;
	line-height: 25px;
	
}

#query_main table thead tr th { border-bottom: 1px solid #999; }
#query_main table tbody tr td { border-bottom: 1px solid #EEE; }

#query_main table tbody tr td input {
	width: 50px;
	height: 20px;
	cursor: pointer;
	color: #FFF;
	background: #333;
	border: 1px solid #000;
	-moz-box-shadow: 0 0 5px #555;
	-webkit-box-shadow: 0 0 5px #555;
}

#query_main table tbody tr td input:hover {
	-moz-box-shadow: 0 0 10px #999;
	-webkit-box-shadow: 0 0 10px #999;
}

#query_main table thead tr .tweets { width: 50px; }
#query_main table thead tr .text { width: 110px; }
#query_main table thead tr .date { width: 90px; }
#query_main table thead tr .location { width: 50px; }
#query_main table tbody tr .tweets { width: 50px; }
#query_main table tbody tr .text { width: 110px; }
#query_main table tbody tr .date { width: 90px; }
#query_main table tbody tr .location { width: 50px; }

#query_tweets {
	margin-left: 10px;
	width: 669px;
	float: left;
}

#query_tweets h1 {
	padding: 0 10px;
	width: 649px;
	height: 30px;
	line-height: 30px;
	background: #555;
	color: #FFF;
}

#query_tweets table {
	width: 669px;
}

#query_tweets table tbody tr,
#query_tweets table thead tr {
	width: 600px;
	height: 25px;
	line-height: 25px;
}

#query_tweets table thead tr th {
	text-align: left;
}

#query_tweets table tbody tr td .edit_tweet {
	margin-right: 20px;
	width: 100px;
}

#query_tweets table tbody tr td .edit_tweet input {
	width: 100px;
}

#searchbar {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 1100px;
	height: 40px;
}

#searchbar input {
	position: relative;
	height: 40px;
	line-height: 40px;
	float: left;
	border: 1px solid #999;
	-moz-box-shadow: 0 0 5px #CCC;
	-webkit-box-shadow: 0 0 5px #CCC;
}

#searchbar input:hover {
	-moz-box-shadow: 0 0 10px #999;
	-webkit-box-shadow: 0 0 10px #999;
}

#searchbar .field {
	padding: 0 10px;
	width: 1018px;
	font-size: 18px;
}

#searchbar .button {
	margin-left: 10px;
	width: 50px;
	color: #FFF;
	background: #555;
	cursor: pointer;
}