* {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-family: "Trebuchet MS" Helvetica Tahoma;
	outline: none;
}

body {
	background: url(/images/queries_bg.jpg) #F5F5F5;
}

#queries {
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
	width: 1080px;
	background: #FFF;
	clear: both;
	overflow: auto;
	border: 1px solid #999;
	-moz-box-shadow: 0 0 5px #CCC;
	-webkit-box-shadow: 0 0 5px #CCC;
}

#queries .nav {
	width: 1100px;
	height: 30px;
	line-height: 30px;
	display: block;
}

#query_main {
	width: 500px;
	border-right: 1px solid #999;
	float: left;
}

#query_main h1 {
	padding: 0 10px;
	width: 480px;
	height: 30px;
	line-height: 30px;
	background: #555;
	color: #FFF;
	clear: both;
}

#new_query_button {
	position: relative;
	margin-top: 5px;
	width: 100px;
	height: 20px;
	line-height: 20px;
	text-decoration: underline;
	cursor: pointer;
	float: right;
}

#query_main_header {
	width: 500px;
	height: 24px;
	border-bottom: 1px solid #999;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
}

#query_main_header .header {
	position: relative;
	padding: 0 5px;
	height: 24px;
	line-height: 24px;
	text-align: left;
	font-weight: bold;
	float: left;
}

#query_main_header .tweets { width: 75px; }
#query_main_header .text { width: 180px; }
#query_main_header .date { width: 70px; }
#query_main_header .location { width: 90px; }

#query_main_body {
	width: 500px;
}

#query_main_body .query_main_row {
	width: 500px;
	height: 30px;
	border-bottom: 1px solid #EEE;
	clear: both;
}

#query_main_body .query_main_row:hover {
	background: #FFFFCC;
}

#query_main_body .active {
	background: #FFFFCC;
}

#query_main_body .query_main_row .cell {
	position: relative;
	padding: 0 5px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	float: left;
}

#query_main_body .query_main_row .cell input {
	position: relative;
	margin-top: 5px;
	width: 75px;
	height: 20px;
	cursor: pointer;
	color: #FFF;
	background: #333;
	border: 1px solid #000;
	-moz-box-shadow: 0 0 5px #555;
	-webkit-box-shadow: 0 0 5px #555;
	float: left;
}

#query_main_body .query_main_row .cell input:hover {
	-moz-box-shadow: 0 0 10px #999;
	-webkit-box-shadow: 0 0 10px #999;
}

#query_main_body .query_main_row .tweets { width: 75px; }
#query_main_body .query_main_row .text { width: 180px; }
#query_main_body .query_main_row .date { width: 70px; }
#query_main_body .query_main_row .location { width: 90px; }
#query_main_body .query_main_row .button {
	width: 20px;
	color: #CCC;
	text-align: center;
	cursor: pointer;
}

#query_main_body .query_main_row .button:hover {
	color: #666;
}

#query_main_body .query_controls_row {
	width: 500px;
	height: 30px;
	border-bottom: 1px solid #EEE;
	display: none;
	clear: both;
}

#query_main_body .query_controls_row .button {
	position: relative;
	margin-top: 5px;
	margin-left: 5px;
	padding: 0 5px;
	height: 18px;
	line-height: 18px;
	color: #FFF;
	background: #3B5998;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #000;
	-moz-box-shadow: 0 0 5px #555;
	-webkit-box-shadow: 0 0 5px #555;
	float: left;
}

#query_main_body .query_controls_row .spinner {
	position: relative;
	margin-top: 5px;
	margin-right: 5px;
	padding: 0 5px;
	width: 10px;
	height: 18px;
	line-height: 18px;
	display: none;
	background: url(/images/query_tweets_fetch_spinner.gif) no-repeat;
	float: right;
}

#query_tweets {
	margin-left: 10px;
	width: 569px;
	float: left;
	overflow: scroll;
}

#query_tweets h1 {
	padding: 0 10px;
	width: 1140px;
	height: 30px;
	line-height: 30px;
	background: #555;
	color: #FFF;
}

#query_tweets h1 input {
	width: 28px;
	height: 28px;
	line-height: 28px;
	float: left;
}

#query_tweets_header {
	position: relative;
	width: 1160px;
	height: 24px;
	border-bottom: 1px solid #999;
	background: #FFF;
	z-index: 10;
	clear: both;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
}

#query_tweets_header .header {
	position: relative;
	padding: 0 5px;
	min-width: 24px;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	text-align: left;
	float: left;
}

#query_tweets_header .relevance { width: 60px; }
#query_tweets_header .text { width: 250px; }
#query_tweets_header .user { width: 110px; }
#query_tweets_header .location { width: 120px; }
#query_tweets_header .date { width: 80px; }
#query_tweets_header .followers { width: 60px; }
#query_tweets_header .friends { width: 60px; }
#query_tweets_header .favorites { width: 60px; }
#query_tweets_header .statuses { width: 60px; }
#query_tweets_header .keywords { width: 60px; }
#query_tweets_header .distance { width: 60px; }
#query_tweets_header .time_diff { width: 60px; }

#query_tweets_body {
	width: 1160px;
}

#query_tweets_body .query_tweets_row {
	width: 1160px;
	height: 79px;
	border-bottom: 1px solid #EEE;
}

#query_tweets_body .query_tweets_row:hover {
	background: #FFFFCC;
}

#query_tweets_body .active {
	background: #FFFFCC;
}

#query_tweets_body .query_tweets_row .cell {
	position: relative;
	padding: 0 5px;
	height: 79px;
	line-height: 18px;
	float: left;
}

#query_tweets_body .query_tweets_row .relevance { width: 60px; }
#query_tweets_body .query_tweets_row .text { width: 250px; }
#query_tweets_body .query_tweets_row .user { width: 110px; }
#query_tweets_body .query_tweets_row .location { width: 120px; }
#query_tweets_body .query_tweets_row .date { width: 80px; }
#query_tweets_body .query_tweets_row .followers { width: 60px; }
#query_tweets_body .query_tweets_row .friends { width: 60px; }
#query_tweets_body .query_tweets_row .favorites { width: 60px; }
#query_tweets_body .query_tweets_row .statuses { width: 60px; }
#query_tweets_body .query_tweets_row .keywords { width: 60px; }
#query_tweets_body .query_tweets_row .distance { width: 60px; }
#query_tweets_body .query_tweets_row .time_diff { width: 60px; }

#query_tweets_body .query_tweets_row .relevance .edit_tweet {
	width: 50px;
	height: 80px;
}

#query_tweets_body .query_tweets_row .relevance .edit_tweet input, #query_tweets_body .query_tweets_row .relevance .edit_tweet select {
	margin-top: 10px;
	width: 50px;
	height: 25px;
	border: 1px solid #999;
	-moz-box-shadow: 0 0 5px #CCC;
	-webkit-box-shadow: 0 0 5px #CCC;
}

#query_tweets_body .query_tweets_row .relevance .edit_tweet input:hover {
	-moz-box-shadow: 0 0 10px #999;
	-webkit-box-shadow: 0 0 10px #999;
}

#query_tweets_body .query_tweets_row .relevance .edit_tweet .button {
	border: 1px solid #999;
	color: #FFF;
	background: #3B5998;
	cursor: pointer;
}

#new_query_form {
	margin-top: 10px;
	width: 400px;
	height: 250px;
	clear: both;
	display: none;
}

#new_query_form label {
	position: relative;
	margin-bottom: 10px;
	width: 75px;
	height: 30px;
	line-height: 30px;
	float: left;
}

#new_query_form input {
	position: relative;
	padding: 9px 5px;
	margin-bottom: 10px;
	width: 303px;
	height: 12px;
	line-height: 12px;
	font-size: 12px;
	float: left;
	border: 1px solid #999;
	-moz-box-shadow: 0 0 5px #CCC;
	-webkit-box-shadow: 0 0 5px #CCC;
}

#new_query_form input:hover {
	-moz-box-shadow: 0 0 10px #999;
	-webkit-box-shadow: 0 0 10px #999;
}

#new_query_form .button {
	margin-left: 75px;
	padding: 0;
	width: 315px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

#error, #notice {
	margin: auto;
	margin-bottom: 10px;
	width: 1100px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#notice {
	background: #CCFFCC;
	color: #339966;
}

#error {
	background: #FFE6E6;
	color: #CC0000;
}