* {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-family: "Trebuchet MS" Helvetica Tahoma;
	outline: none;
}

#nav {
	position: relative;
	margin: auto;
	width: 1100px;
	height: 75px;
	clear: both;
}

#logo {
	width: 550px;
	height: 75px;
	float: left;
}

#logo .twit {
	height: 75px;
	line-height: 75px;
	font-size: 40px;
	font-style: italic;
	color: #666;
	float: left;
}

#logo .rank {
	height: 75px;
	line-height: 75px;
	font-size: 40px;
	font-weight: bold;
	color: #3B5998;
	float: left;
}