* {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-family: "Trebuchet MS" Helvetica Tahoma;
	outline: none;
}

#nav {
	position: relative;
	margin: auto;
	width: 1100px;
	height: 75px;
	clear: both;
}

#logo {
	width: 550px;
	height: 75px;
	float: left;
}

#logo .twit {
	position: relative;
	height: 75px;
	line-height: 75px;
	font-size: 40px;
	font-style: italic;
	color: #666;
	float: left;
}

#logo .rank {
	position: relative;
	height: 75px;
	line-height: 75px;
	font-size: 40px;
	font-weight: bold;
	color: #3B5998;
	float: left;
}

#controls {
	width: 550px;
	height: 75px;
	float: left;
}

#welcome {
	margin-top: 5px;
	width: 550px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: right;
}

#session {
	padding: 0 10px;
	height: 35px;
	clear: both;
	float: right;
	z-index: -1;
	background: #3B5998;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 30px #999;
	-webkit-box-shadow: 0 0 30px #999;
}

#session a {
	position: relative;
	margin-top: 5px;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	float: right;
	display: block;
	text-decoration: none;
	color: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#session a:hover {
	background: #4F6AA2;
}