<div id="nav">
	<div id="logo">
		<div class="twit">Twit</div>
		<div class="rank">Rank</div>
	</div>
	<div id="controls">
		<% if current_user %>
			<div id="welcome">Welcome, <%= current_user.full_name %></div>
			<div id="session">
				<%= link_to "Log Out", log_out_path %>
				<%= link_to_remote "Account", :url => edit_user_path( current_user ), :method => :get %>
			</div>
		<% end %>
	</div>
</div>