<h1><%= twitter_request_count %></h1>
<div id="query_tweets_header">
	<div class="header text">Text</div>
	<div class="header user">User</div>
	<div class="header location">Location</div>
	<div class="header date">Date</div>
</div>
<div id="query_tweets_body">
	<%= render( :partial => "tweet", :collection => query_tweets ) %>
</div>