<h1>Tweets</h1>
<table cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th class="relevance">Relevance</th>
			<th class="text">Text</th>
			<th class="user">User</th>
			<th class="location">Location</th>
			<th class="date">Date</th>
		</tr>
	</thead>
	<tbody>
		<%= render( :partial => "tweet", :collection => query_tweets ) %>
	</tbody>
</table>