<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Twitrank</title>
	<%= stylesheet_link_tag "jquery.autocomplete", "jquery.tooltip", "application", "nav", "searchbar", "account" %>
	<%= javascript_include_tag "jquery", "jqueryui", "jquery.autocomplete", "jquery.tooltip", "jrails", "application", "account" %>
</head>
<body>
	<%= render :partial => "shared/nav" %>
	<%= yield %>
</body>
</html>