<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Twitrank</title>
	<%= stylesheet_link_tag "jquery.autocomplete", "authentication" %>
	<%= javascript_include_tag "jquery", "jqueryui", "jquery.autocomplete", "jrails", "authentication" %>
</head>
<body>
	<%= yield %>
	<%= render :partial => "#{Rails.root}/app/views/shared/ga" %>
</body>
</html>